obj/
lib/
test/obj/
test/test_quickstart
test/test_sequence
test/test_scalars
test/test_navigate
test/test_streams
test/test_mutate
test/test_anchors
test/test_parse_errors
test/test_location
test/test_path
test/test_text_io
test/test_liveness
test/example_syntax_error
test/example_value_error
test/example_missing_field
bench/obj/
bench/bench_wide
bench/bench_streams
bench/wide.yaml
bench/manydocs.yaml


*~
.DS_Store
.\#*
.~
.~*\#
\#*\#
