obj/
lib/
test/obj/
test/test_quickstart
test/test_sequence
test/test_scalars
test/test_navigate
test/test_streams
test/test_mutate
test/test_anchors
test/test_parse_errors
test/test_location


*~
.DS_Store
.\#*
.~
.~*\#
\#*\#
